<video class='brand_video'  id="bgvid" playsinline autoplay muted loop><source src="http://coverr.co/s3/mp4/pencil_down.mp4" type="video/webm">
<source src="http://coverr.co/s3/mp4/pencil_down.mp4" type="video/mp4">
</video>
<div class='ui container login_panel'>
  <div class='ui centered grid'>
    <div class='ui items'>
      <div class='item'></div>
    <div class='item  middle aligned '>
      <h1>Welcome to Teach</h1>

    </div>
  <div class='item'></div>
  </div>
  </div>

      <div class='ui  centered grid '>
        <div class="ui aligned basic segment panel">
          <div class='ui form'>
            <%= form_for :user do |f| %>
              <div class='field'>
                <label>Email</label>
                <%= f.email_field :email, placeholder: "Enter your email" %>
              </div>

              <div class='field'>
                <label>Password</label>
                <%= f.password_field :password, placeholder: "Enter your password" %>
              </div>

              <%= f.submit "Login", class:'ui blue submit button' %>
            <% end %>
          </div>
        </div>
      </div>
</div>
