<div class='login'>
<div class='ui container'>
  <div class='ui centered grid'>
    <div class='ui items'>
      <div class='item'></div>
    <div class='item  middle aligned '>
      <h1 class='brand'>Welcome to Utenme</h1>

    </div>
  <div class='item'></div>
  </div>
  </div>

      <div class='ui  centered grid '>
        <div class="ui aligned basic segment panel">
          <div class='ui form'>
            <%= form_for :user do |f| %>
              <div class='field'>
                <label>Email</label>
                <%= f.email_field :email, placeholder: "Enter your email" %>
              </div>

              <div class='field'>
                <label>Password</label>
                <%= f.password_field :password, placeholder: "Enter your password" %>
              </div>

              <%= f.submit "Login", class:'ui blue submit button' %>
            <% end %>
          </div>
        </div>
      </div>
</div>
</div>
