<div class='column'></div>
<div class='eight wide column'>
  <div class="flowplayer" data-aspect-ratio="4:3">
    <video >
      <source type="video/mp4"
        src="<%= @videos[0].video_url%>">
    </video>
  </div>
  <div>
    <h2><%= @videos[0].title %></h2>
    <h3>Description</h3>
  </div>
</div>
<div class='seven wide column'>
  <div class='ui cards'>
  <% @videos[1..@videos.size-1].each do |video| %>
    <div class='ui card'>
      <h1><%= video.title %></h1>
    </div>
  <% end %>
</div>
</div>
