// Place all the styles related to the admin/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.menu_toggle {
  position: fixed;
}

.dashboard {
  z-index: 9999;
  position: fixed;
}
