<div class='ui grid'>
  <div class='column'></div>
    <%= render partial: 'teacher/partials/dashboard_side_bar' %>
    <div className='ten wide column'>
      <%= react_component 'TeacherCourseIndex', {courses: @courses} %>
    </div>
</div>
