<div class='ui four wide column grid'>
  <div class='row'>
    <div class='column' ></div>
    <div class='ui  stackable vertical menu'>
      <div class='item'>
        <div class='header'>Profile</div>
        <div class='menu'>
          <a class='item'>Enterprise</a>
          <a class='item active'>Consumer</a>
        </div>
      </div>
      <div class='item'>
        <div class='header'>Courses</div>
        <div class='menu'>
          <%= link_to 'Active Courses', teacher_courses_path(current_user), class:'item' %>
          <%= link_to 'Add Course', new_teacher_course_path(current_user), class:'item' %>
          <a class='item'>Inactive Courses</a>
        </div>
      </div>

      <div class='item'>
        <div class='header'>Support</div>
        <div class='menu'>
          <a class='item'>New Question</a>
          <a class='item'>FAQs</a>
        </div>
      </div>
    </div>
  </div>
</div>
