<div class='ui grid'>
  <div class='row'>
    <div class='four wide column'>
      <h1>Ngee Ann</h1>
      <p>Secondary</h1>
      <hr />
      <div class='item'>
        <%= link_to 'Teacher', teachers_path %>
      </div>
      <div class='item'>
        <%= link_to 'Students', students_path %>
      </div>

    </div>
    <div class='eight wide column'>

    <div class='four wide column'>
    </div>
  </div>
</div>
