<div class='ui stackable grid container'>
    <div class='cloumn'></div>
    <div class='five wide column'>
      <h1>Latest Courses</h1>
    </div>

    <div class='row'>
      <div class='column'></div>
      <div class='ui stackable fourteen wide column'>

      <% if @courses.size > 0 %>
        <div class="ui stackable link cards four wide column centered align">
          <% @courses.each do |course| %>
            <%= render partial: 'partials/courseCard', locals: {course: course} %>
          <% end %>
        </div>
      <% else %>
        <div>
          We are sorry. No course available yet
        </div>
      <% end %>
    </div>
  </div>

</div>
