// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.course_header {
  background-color: rgba(0,0,0,0.5);
  color: white;
}

.ui.right.internal.rail.course_thumb {
  top: 100px;
}

.course_description {
  height: 300px;
}
