// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.login {
  background: url('https://cdn.shutterstock.com/shutterstock/videos/2729435/thumb/1.jpg?i10c=img.resize');
  background-size: cover;
  opacity: 0.8;
  height: 95vh;
}

.login.panel {
  background-color: rgba(255,255,255,0.7);
}

.brand {
  color: white;
}

.ui.menu>.item:first-child.brand_title {
  background-color: green;
}

.ui.menu .item>a:not(.ui), .ui.menu .item>p:only-child, .ui.menu .text.item>* {
  color: white;
}

.ui.container.login_panel {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.brand_video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
  background-size: contain;
  background-position: center;
  transition: 1s opacity;
}
.stopfade {
   opacity: .5;
}
